*{
    margin: 0;
    padding: 0;
}

/* Color 
.red{
background-color: rgb(53, 15, 15);
color:white;
height:80px;
}
.green{
     background: green;
     color:yellow;
}*/


/* Background as 2 repeats property are defined the latest one will overwrite another one and background contains means it will come in background and will come as more visible as it could be and cover means it will cover whole area ..there 30px means width and we don't give height and width at same place if we do that aspect ratio will be damage so we will give only one property*/ 
.container{
    height: 1200px;
    width: 300px;  
 /* background-color: aqua;  */
 border:2px solid black;
 /* background-image: url('ak.jpg'); */
 /* background-repeat: space; */
  /* background-repeat: no-repeat; */
  /* background-size: 63px 45px  ; */
  /* background-position: center ;   */

 /* background-position: fixed; */
 background:red url('ak.jpg') no-repeat scroll top right  ;
}
body{
   
    
   
} 

/* practice set of chap 2 is remaining */



