 /* chapter 0:intro inline css have higher priority */
/* body{

    background-color: rgb(13, 14, 13);
} */

/* chapter 1:first css website  */

/* "#" this is id selector  */
/* #first{
    background-color: aqua;
    color: red;
} */
/* "." is class selector  */
/* .red{
    background-color: yellowgreen;
} */


/* css selector and we can group selector so that it can use same properties  */

/* element selector
div{
    background-color: antiquewhite;
}

h1,h3{
    color: red;
    background-color: green;
}

id selector
#first{
    background-color:blue;
    color:red;
}

class selector
.first{
    background-color:red;
    color:blue;
}

we can use element selector and class selector at same line example given below and it style those element which is paragraph and class name is second
p.second{
    background-color: black;
    color:green;
}
this and upper one treat completely different as .second will style those element whose className is second but p.second will style only those elements whose paragraph class name is second not id paragraph
.second{
    background-color: black;
    color:green;
}

*{
margin:0px;
padding:0px;
} */

/* practice set */

.red{
    background-color: red;
    color: white;
}
#head{
    background-color: red;
}
.one{
    background-color: pink;
    color:aqua;
}
.firstClass{
    background-color: antiquewhite;
}
.secondClass{
    color:black
}
 
